In [ ]:
import numpy as np
import pandas as pd

In [2]:
file = 'data/yelp_labelled.txt'
df = pd.read_csv(file, sep='\t',header=None)
df.columns = ['review', 'target']
#df.target = np.where(df.target,True, False)
df.head(2)

                     review  target
0  Wow... Loved this place.       1
1        Crust is not good.       0

In [3]:
file = 'data/stopwords.txt'
dfs = pd.read_csv(file,header=None)
dfs.columns = ['stops']
dfs.head(2)

  stops
0     i
1    me

In [14]:
# clean and split reviewe strings 

def A(df): return df.apply(lambda x: x.str.strip(), axis=1) 
def B(df): return df.apply(lambda x: x.str.replace(r"\Bn't\b", ' not ', regex=True), axis=1)
def C(df): return df.apply(lambda x: x.str.replace(r'\W+', ' ', regex=True), axis=1)
def D(df): return df.apply(lambda x: x.str.replace(r'\d+', ' ', regex=True), axis=1)
def E(df): return df.apply(lambda x: x.str.lower(), axis=1) 
def F(df): return df.apply(lambda x: x.str.replace(r"\bnot\s", 'not', regex=True), axis=1)
def G(df): return df.apply(lambda x: x.str.replace(r'\s{2}', ' ', regex=True), axis=1)  
def H(df): return df.apply(lambda x: x.str.strip(), axis=1)
def I(df): return df.apply(lambda x: x.str.split(), axis=1)

switch = {char:eval(char) for char in 'ABCDEFGHI'}

def switch_clean_df(df, string):
    for char in string:
        df = switch[char](df)
    return df

In [15]:
cra = switch_clean_df(pd.DataFrame(df.review),'ABCDEGHI').review
awa = [a for ra in cra for a in ra]
words = [w for w in set(awa)]
nostops = [w for w in words if w not in dfs.stops.tolist()]
dfr = switch_clean_df(pd.DataFrame(df.review),'ABCDEGH')
dfr['target'] = df.target
dct = {word:dfr.target.where(dfr.review.str.contains(word), other=np.nan) for word in nostops}
for k,v in dct.items():
    dfr[k] = v
dfr.head(2)

,review,target,burrittos,cart,touch,supposed,quality,courteous,soon,market,...,m,chefs,atmosphere,station,strawberry,nothing,might,struggle,perfection,six
0,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

                 review  target
0  wow loved this place       1
1     crust is not good       0

In [13]:
dct = {word:dfr.target.where(dfr.review.str.contains(word), other=np.nan) for word in nostops}
for k,v in dct.items():
    dfr[k] = v
dfr.head(2)

,review,target,burrittos,cart,touch,supposed,quality,courteous,soon,market,...,m,chefs,atmosphere,station,strawberry,nothing,might,struggle,perfection,six
0,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
dfr = dfr.drop(['review','target'], axis=1)

In [10]:
A = [key for key, val in dfr.mean().items() if .2 >= val <= .8 ]